@using Models
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Builder
@using Microsoft.Extensions.Options

@inject IHtmlLocalizer<SharedResource> SharedLocalizer


<!DOCTYPE html>
<html lang="en">
<head>


    <link rel="stylesheet" href="~/css/style_v2.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
    <meta charset="UTF-8">
    <title>@SharedLocalizer["MainTitle"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    @{
        await Html.RenderPartialAsync("_Header");
    }

    @RenderBody()
   
    <!------start of the footer--- ----- -->
    @await Component.InvokeAsync("Footer")
    <!-- ---end of the footer----------- -->
    <div id="wishModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content ">
                <div class="modal-header"></div>
                <h4 class="modal-text">@SharedLocalizer["AddedToWishList"]</h4>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@SharedLocalizer["Close"]</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal basket -->
    <div id="basketModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content ">
                <div class="modal-header"></div>
                <h4 class="modal-text">@SharedLocalizer["AddedToBasket"]</h4>
                <div class="basket-modal">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="basket-modal-buttons">
                                <a href="/Home/Basket"> @SharedLocalizer["PlaceOrder"]</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@SharedLocalizer["Close"]</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

    <script src="~/js/script_v2.js" asp-append-version="true"></script>
    <script src="~/js/header_v2.js" asp-append-version="true"></script>
    <script src="~/js/public.ajaxcart.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
    <script>
        AjaxCart.init(false, ".basket-full .cart-qty", ".wish .wish-qty", null, {})
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164236183-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-164236183-1');
    </script>    
</body>
</html>
