@model Models.MenuItemViewModel

@using Models

<ul class="dropdown-menu @(Model.CssPrefix)sub-link" aria-labelledby="@($"navbarDropdownMainMenuLink{Model.CategoryEntity.Id}")">
    
    @foreach (var item in Model.CategoryEntity.SubCategories)
    {
        <li class="@(item.SubCategories.Count > 0?"dropdown-submenu":"")">
            <a class="dropdown-item @(item.SubCategories.Count > 0?"dropdown-toggle":"")" href="@(item.SubCategories.Count == 0 ? Url.Action("ProductsList", "Product", new {categoryId=item.Id})
           :
           "/Category/GetCategoriesByParentId?parentid="+item.Id )">@item.Translation.Name</a>
            @if (item.SubCategories.Count > 0)
            {
                await Html.RenderPartialAsync("_MenuListItems", new Models.MenuItemViewModel
                    {
                        CategoryEntity = item,
                        CssPrefix = Model.CssPrefix,
                        MobileClass = Model.MobileClass
                    });
            }
        </li>
    }

   @* <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" href="#">Submenu</a>
        <ul class="dropdown-menu @(Model.CssPrefix)sub-link">
            <li><a class="dropdown-item" href="#">Submenu action</a></li>
            <li><a class="dropdown-item" href="#">Another submenu action</a></li>

            <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">Subsubmenu</a>
                <ul class="dropdown-menu @(Model.CssPrefix)sub-link">
                    <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                    <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">Second subsubmenu</a>
                <ul class="dropdown-menu @(Model.CssPrefix)sub-link">
                    <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                    <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                </ul>
            </li>
        </ul>*@    
</ul>