@model Models.MenuItemViewModel

@using Models
@{
    var hasSubCategory = Model.CategoryEntity.SubCategories.Count > 0;
}

<ul class="dropdown-menu @(Model.CssPrefix)sub-link" aria-labelledby="navbarDropdownMenuLink">
    
    @foreach(var item in Model.CategoryEntity.SubCategories)
    {
        if (hasSubCategory)
        {
            <a class="dropdown-item dropdown-toggle" href="#">@Model.CategoryEntity.Translation.Name</a>
            {
                await Html.RenderPartialAsync("_MenuListItems", new Models.MenuItemViewModel
                        {
                            CategoryEntity = item,
                            CssPrefix = Model.CssPrefix,
                            MobileClass = Model.MobileClass
                        });
            }
        }
        else
        {
            <li><a class="dropdown-item" href="#">@Model.CategoryEntity.Translation.Name</a></li>
        }
    }

   @* <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" href="#">Submenu</a>
        <ul class="dropdown-menu @(Model.CssPrefix)sub-link">
            <li><a class="dropdown-item" href="#">Submenu action</a></li>
            <li><a class="dropdown-item" href="#">Another submenu action</a></li>

            <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">Subsubmenu</a>
                <ul class="dropdown-menu @(Model.CssPrefix)sub-link">
                    <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                    <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">Second subsubmenu</a>
                <ul class="dropdown-menu @(Model.CssPrefix)sub-link">
                    <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                    <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                </ul>
            </li>
        </ul>*@
    </li>
</ul>