@using Models;
@model Models.ProductEntity

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    var addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = (int)(Models.EntityModels.ShoppingCartItemType.ShoppingCartItem), quantity = 1 });
    var addtowishlistlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = (int)(Models.EntityModels.ShoppingCartItemType.WishListItem), quantity = 1 });
}

<div class="product-item">
    <a href="/product/OneProductById?id=@(Model.Id)" class="product-link">
        @*<img src="@ImageHelper.GenImageLink(item.MainImage.FullPath)" alt="@item.Translation.NameTranslation">*@
        <img src="/img/tenerella2.png" alt="tene">

        <h3 class="news-div-title">@Model.Translation.NameTranslation</h3>
        <p>
            @GeneralHelper.GetPriceString(Model.Price.Value) Դ
            @if (Model.OldPrice != 0)
            {
                <del>@GeneralHelper.GetPriceString(Model.OldPrice.Value) Դ</del>
            }
        </p>
    </a>
    <div class="basket-arrow">
        <div class="basket-part" tabindex="0">
            <button type="button" onclick="AjaxCart.addproducttocart_catalog('@addtocartlink');return false;">
                <img src="/img/shopping-cart.png" alt="shopping-cart">
                @SharedLocalizer["AddToCart"]
            </button>
        </div>
        <div class="heart-arrow">
            <button type="button" class="btn-link" title="@SharedLocalizer["AddToWishlist"]" onclick="AjaxCart.addproducttocart_catalog('@addtowishlistlink');return false;">
                <img src="/img/like1.png" alt="like">
            </button>
        </div>
    </div>
    @if (Model.IsNew.GetValueOrDefault())
    {
        <div class="red"> @SharedLocalizer["New"]</div>
    }
    @if (Model.OldPrice != 0)
    {
        <div class="black">@GeneralHelper.GetDiscountPercent(Model.Price.Value, Model.OldPrice.Value) %</div>
    }
</div>