@model Models.DashboardViewModel

@using Models
@{
    ViewData["Title"] = "Admin";
}
@{
    Layout = "";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .curraent {
        background-color: #97d3f7;
    }

    .fa-edit, fa-a {
        margin-right: 12px;
    }

    .admin_h2 {
        margin-bottom: 50px;
        background-color: #d09f17;
        color: white;
        text-align: center;
        display: block;
        padding: 10px;
    }
</style>
<h2 style="text-align:center;" class="container admin_h2">Ադմինիստրատոր</h2>
<div class="container" style="background-color:#dfe0e2">
    <a class="buttons" asp-action="Banners" asp-controller="Admin">Banners</a>
    |
    <a class="buttons" asp-action="Brands" asp-controller="Admin">Brands</a>
    |
    <a class="buttons" asp-action="AddProductBySku" asp-controller="Admin">Add Product by sku</a>
    |
    <form asp-action="CheckAllDb" asp-controller="Admin" method="post">
        <button type="submit">Check All Products</button>
    </form>
</div>
<div class="container" style="background-color:#dfe0e2">
    <h2 style="text-align:center; margin-left: -15px" class="container admin_h2">Ավելացնել ապրանքներ XML-ից</h2>
    <form id="xmluploadform" method="post" style="margin:50px" enctype="multipart/form-data" action="/Admin/UploadProductFromXml">
        <div class="form-group">
            <input id="xml-file" type="file" style="width:235px" class="form-control xmlup" name="productXml" multiple />
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" id="add-xml-Btn" value="Ավելացնել ապրանքների XML" />
            </div>
        </div>

    </form>
    <h2 style="text-align:center;margin-left: -15px;" class="container admin_h2">Ապրանքներ</h2>
    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                SKU: <input type="text" style="height: 32px;" name="sku" value="" />
                <input type="submit" value="Փնտրել" class="btn btn-default" /> |
                <a asp-action="Index">Բոլոր ապրանքները</a>
            </p>
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th><b>ID</b></th>
                <th>
                    Նկար
                </th>
                <th>
                    Անուն
                </th>
                <th>
                    Քանակ
                </th>
                <th>
                    Sku
                </th>
                <th>
                    Գին
                </th>
                <th>
                    Կայքում հասանելի
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DashboardProducts.Where(x => x.Id != null))
            {
                <tr>
                    <td>@item.Id</td>
                    <td>
                        @if (!string.IsNullOrWhiteSpace(item.MainImage.FullPath))
                        {
                            <img style="height:70px;width:100px" src="https://urartuonline.am/uploads/images/@item.MainImage.FullPath" />
                        }
                        else
                        {
                            <img style="height:70px;width:100px" src="~/img/products/noimg.jpg" />
                        }
                    </td>
                    <td style="width:150px">
                        @Html.DisplayFor(modelItem => item.Translation.NameTranslation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Count)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sku)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @if (item.Published.Value)
                        {
                            <p>"Այո"</p>

                        }
                        else
                        {
                            <p>Ոչ</p>
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit" style="color: gray;font-size: 20px;">Փոփոխել</i></a> |
                        <a href="/product/OneProductById?id=@item.Id" target="_blank"><i class="fa fa-eye" style="color: gray;font-size: 20px;">Դիտել</i></a> |
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div style="display:flex">


        @if (ViewBag.search != null)
        {
            <a asp-action="Index"
               asp-route-page="@(ViewBag.curPage-3)"
               class="btn btn-default">
                Նախորդ
            </a>
            <div class="page_numbers">
                <a asp-action="Index"
                   asp-route-page="@ViewBag.curPage"
                   class="btn btn-default curraent">
                    @ViewBag.curPage
                </a>
                <a asp-action="Index"
                   asp-route-page="@(Int32.Parse(ViewBag.curPage.ToString())+1)"
                   class="btn btn-default">
                    @(Int32.Parse(ViewBag.curPage.ToString()) + 1)
                </a>
                <a asp-action="Index"
                   asp-route-page="@(Int32.Parse(ViewBag.curPage.ToString()) + 2)"
                   class="btn btn-default">
                    @(Int32.Parse(ViewBag.curPage.ToString()) + 2)
                </a>
            </div>

            <a asp-action="Index"
               asp-route-page="@(Int32.Parse(ViewBag.curPage.ToString()) + 3)"
               class="btn btn-default">
                Հաջորդ
            </a>

        }

    </div>


    <hr />
    <h2 style="text-align:center;margin-left: -15px" class="container admin_h2">Պատվերներ</h2>
    <table class="table">
        <thead>
            <tr>
                <th><b>ID</b></th>
                <th>
                    Առաքման Ստատուս
                </th>
                <th>
                    Պատվերի գումար
                </th>
                <th>
                    Երբ է պատվիվել
                </th>
                <th>
                    Պատվիրատուի անուն
                </th>
                <th>
                    Ազգանուն
                </th>
                <th>
                    Հասցե
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DashboardOrders)
            {

                <tr style="@((item.ShipmentStatus == 0)? "background-color:#e64949":"")">
                    <td>@item.Id</td>
                    <td>
                        <form action="/Admin/EditOrder" method="post">
                            <div class="form-group">
                                <input type="text" value="@item.ShipmentStatus" name="ShipmentStatus" />
                                <input type="hidden" value="@item.Id" name="Id" />
                                <input type="submit" value="Հաստատել" />
                            </div>
                        </form>
                    </td>
                    <td>
                        @item.TotalMoney
                    </td>
                    <td>
                        @item.CreationDate
                    </td>
                    <td>
                        @item.FirstName
                    </td>
                    <td>
                        @item.LastName
                    </td>
                    <td>
                        @item.Address
                    </td>
                    <td>
                        <a asp-action="GetOrder" asp-route-id="@item.Id" target="_blank"><i class="fa fa-eye" style="color: gray;font-size: 20px;">Դիտել</i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div style="display:flex">

        <a asp-action="Index"
           asp-route-ordPage="@(ViewBag.curOrdPage-3)"
           class="btn btn-default">
            Նախորդ
        </a>
        <div class="page_numbers">
            <a asp-action="Index"
               asp-route-ordPage="@ViewBag.curOrdPage"
               class="btn btn-default curraent">
                @ViewBag.curOrdPage
            </a>
            <a asp-action="Index"
               asp-route-ordPage="@(Int32.Parse(ViewBag.curOrdPage.ToString())+1)"
               class="btn btn-default">
                @(Int32.Parse(ViewBag.curOrdPage.ToString()) + 1)
            </a>
            <a asp-action="Index"
               asp-route-ordPage="@(Int32.Parse(ViewBag.curOrdPage.ToString()) + 2)"
               class="btn btn-default">
                @(Int32.Parse(ViewBag.curOrdPage.ToString()) + 2)
            </a>
        </div>

        <a asp-action="Index"
           asp-route-ordPage="@(Int32.Parse(ViewBag.curOrdPage.ToString()) + 3)"
           class="btn btn-default">
            Հաջորդ
        </a>
    </div>

    <hr />
    <h2 style="text-align:center;margin-left: -15px" class="container admin_h2">Կատեգորիաներ</h2>
    <div>
        <a asp-action="CreateCateGory" asp-controller="Admin">Ավելացնել կատեգորիա</a>
        <form asp-action="Index" asp-controller="Admin">
            <input value="@ViewBag.CategorySearch" name="categoryName" />
            <button type="submit">Search</button>
        </form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th><b>ID</b></th>
                <th>
                    Նկար
                </th>
                <th>
                    Անուն
                </th>
                <th>
                    Ծնող կատեգորիա
                </th>
                <th>
                    Հիմնական էջի կատեգորիա
                </th>
                <th>
                    Կայքում հասանելի
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DashboardCategories)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>
                        @if (!string.IsNullOrWhiteSpace(item.Picture.FullPath))
                        {
                            <img style="height:70px;width:100px" src="https://urartuonline.am/uploads/images/@item.Picture.FullPath" />
                        }
                        else
                        {
                            <img style="height:70px;width:100px" src="~/img/products/noimg.jpg" />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Translation.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParentCategoryNameHy)
                    </td>
                    <td>
                        @if (item.ShowOnHomePage == true)
                        {
                            <p>"Այո"</p>

                        }
                        else
                        {
                            <p>Ոչ</p>
                        }
                    </td>
                    <td>
                        @if (item.Published == true)
                        {
                            <p>"Այո"</p>

                        }
                        else
                        {
                            <p>Ոչ</p>
                        }
                    </td>
                    <td>
                        <a asp-action="EditCateGory" asp-route-id="@item.Id"><i class="fa fa-edit" style="color: gray;font-size: 20px;">Փոփոխել</i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div style="display:flex">

        <a asp-action="Index"
           asp-route-catPage="@(ViewBag.curCatPage-3)"
           asp-route-categoryName="@ViewBag.CategorySearch"
           class="btn btn-default">
            Նախորդ
        </a>
        <div class="page_numbers">
            <a asp-action="Index"
               asp-route-catPage="@ViewBag.curCatPage"
               asp-route-categoryName="@ViewBag.CategorySearch"
               class="btn btn-default curraent">
                @ViewBag.curCatPage
            </a>
            <a asp-action="Index"
               asp-route-catPage="@(Int32.Parse(ViewBag.curCatPage.ToString())+1)"
               asp-route-categoryName="@ViewBag.CategorySearch"
               class="btn btn-default">
                @(Int32.Parse(ViewBag.curCatPage.ToString()) + 1)
            </a>
            <a asp-action="Index"
               asp-route-catPage="@(Int32.Parse(ViewBag.curCatPage.ToString()) + 2)"
               asp-route-categoryName="@ViewBag.CategorySearch"
               class="btn btn-default">
                @(Int32.Parse(ViewBag.curCatPage.ToString()) + 2)
            </a>
        </div>

        <a asp-action="Index"
           asp-route-catPage="@(Int32.Parse(ViewBag.curCatPage.ToString()) + 3)"
           asp-route-categoryName="@ViewBag.CategorySearch"
           class="btn btn-default">
            Հաջորդ
        </a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>
    $("#add-xml-Btn").click(function () {
        if (!$("#xml-file").val()) {
            $("#add-xml-Btn").prop('disabled', false);
            return;
        }
        $("#add-xml-Btn").prop('disabled', true);
        $("#xmluploadform").submit();
    })

</script>